- content_for :css_includes do
  = stylesheet_link_tag "jquery.ui.all"
  = stylesheet_link_tag "app"
  = stylesheet_link_tag "boxy"


= form_for :task, :html => {:id => "new-task-form"} do |task|
  = task.text_field :name, :value => "task name"
  = task.select :estimate, 1..5, {:prompt => "estimated pomodoros"}
  = task.text_field :tag_list, :value => "tags"
  = task.submit "Add Task"
#tabs
  %ul
    %li
      %a{:href => "#tabs-1"} Master list
    %li
      %a{:href => "#tabs-2"} Today's tasks
  #tabs-1
    %ul.sortable.master.ui-helper-reset{:id => "list_#{current_user.master_list.id}"}
      = render :partial => "task", :collection => @master_tasks 
  #tabs-2
    %ul.sortable.ui-helper-reset{:id => "list_#{current_user.current_list.id}"}
      = render :partial => "task", :collection => @current_tasks
