!!!
%html
  %head
    %title Tuhmayta
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "handlebars"
    = javascript_include_tag "act-as-sortable"
    = javascript_include_tag "application"
    = javascript_include_tag "http://use.typekit.com/ocg4zkp.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = javascript_tag "window._token = '#{form_authenticity_token}'" 
    = stylesheet_link_tag "screen"
    = csrf_meta_tag
  %body
    #header
      #logo-nav-wrapper
        #logo
          Tuhmayta!
        = render :partial => "shared/navigation"
    #content
      = yield
      #footer
        = yield :footer
      #sidebar
        = yield :sidebar
