!!!
%html
  %head
    %title Tuhmayta
    = yield :css_includes
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "boxy"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    = yield :navigation
    #flash.flash_html
      - unless flash[:notice].blank?
        = flash[:notice]
      - unless flash[:alert].blank?
        = flash[:alert]
    .content
      = yield
    #footer
      = render :partial => "shared/footer"
    -# #sidebar
    -#   = render :partial => "shared/sidebar"
