!!!
%html
  %head
    %title Tuhmayta
    = yield :css_includes
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "jquery.boxy"
    = javascript_include_tag "jquery.dateformat"
    = javascript_include_tag "jquery.epiclock"
    = javascript_include_tag "../renderers/retro/epiclock.retro"
    = javascript_include_tag "../renderers/retro-countdown/epiclock.retro-countdown"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #header
      = render :partial => "shared/navigation"
    #flash.flash_html
      - unless flash[:notice].blank?
        = flash[:notice]
      - unless flash[:alert].blank?
        = flash[:alert]
    = yield :navigation
    .content
      = yield
      #footer
        = yield :footer
      #sidebar
        = yield :sidebar
